# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\CS311_Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
